<script>
var gNs = gNs || {};
var projectId = <%= @id %>
$(document).on("page:load ready", gNs.init(projectId));
</script>
<div class="edit-form">
	<table>
		<tbody>
			<tr>
				<th>Project Name:</th>
				<td><input type="text" data-bind="value: $data.project.project_title, valueUpdate:'afterkeydown'" /></td>
			</tr>
			<tr>
				<th>Sort Order</th>
				<td><input type="number" data-bind="value: $data.project.sort_order, valueUpdate:'afterkeydown'" /></td>
			</tr>
			<tr>
				<th>Project Type</th>
				<td><select data-bind="options: $data.project.project_type_options, optionsText: 'type', optionsValue: 'value', value: $data.project.project_type" /></td>
			</tr>
			<tr>
				<th>Project Description (left column Html):</th>
				<td><textarea data-bind="value: $data.project.project_markdown, valueUpdate:'afterkeydown'"></textarea></td>
			</tr>
		</tbody>
	</table>
	<h1>Add/Edit Project Items</h1>
	<button type="button" data-bind="click: $data.project.addProjectItem">Add Item</button>
	<div class="project-item-section" data-bind="foreach: $data.project.project_items">
		<h3 data-bind="text: $data.projectItemDisplayName, click: $parent.project.setSelectedProjectItem"></h3>
	</div>
	<div data-bind="visible: $data.project.isSelected()">
		<h3>Edit Project Item</h3>
		<label>Image Name (what's displayed on hover)</label>
		<input  type="text" data-bind="value: $data.project.selectedProjectItem().image_name"/>
		<br/>
		<label>Image Caption (what's displayed underneath photo)</label>
		<input  type="text" data-bind="value: $data.project.selectedProjectItem().image_caption" />
		<br/>
		<label>Mark as Thumb Image</label>
		<input  type="checkbox" data-bind="checked: $data.project.selectedProjectItem().is_thumb_image"/>
		<br/>
		<label>Placeholder for File Upload?</label>
	</div>
	<button type="button" data-bind="click: $data.submitChanges">Save Changes</button>
	
</div>
<div class="project-preview">
	<div>
		<h1 data-bind="text: $data.project.project_title"></h1>
		<div class="left-column" data-bind="markdown: $data.project.project_markdown">
		</div>
		<div class="right-column">
			<div data-bind="foreach: $data.project.projectViewItems">
				<img data-bind="attr: {src: $data.image_url, alt: $data.image_name}" />
				<p class="caption" data-bind="visible: $data.image_caption !== ''">
				</p>
			</div>
			
		</div>
	</div>
</div>