<div>
<h2>About Alex Doffing</h2>
<p>Marzipan pudding chocolate cake ice cream liquorice muffin danish pie sweet. Sweet roll applicake macaroon liquorice cupcake liquorice cotton candy jelly. Sweet cookie donut chocolate gummies. Sweet roll pastry macaroon chocolate jujubes sweet topping. Icing sweet applicake cotton candy wafer. Marzipan danish marzipan topping soufflé chocolate muffin croissant. Chupa chups wafer muffin sesame snaps jujubes. Apple pie jujubes tiramisu cheesecake cotton candy icing donut brownie liquorice. Sesame snaps fruitcake liquorice. Cupcake soufflé gummi bears. Tootsie roll donut marshmallow. Biscuit sweet roll unerdwear.com wafer cotton candy croissant pie caramels. Fruitcake marshmallow sesame snaps bonbon sesame snaps chocolate bar bear claw macaroon.</p>
<div class="list">
	<p>Current Projects</p>
	<ul>
		<li>Cupcake</li>
		<li>Cake</li>
		<li>Fruit Pie</li>
		<li>Other fun stuff!</li>
		<li>Ice Cream</li>
		<li>CHocolate</li>
	</ul>
</div>
</div>	