<div>
	<h3>So you'd like to contact me, eh?</h3>
	<p>I'm available for a multitude of projects</p>
	<ul>
		<li>Wedding Invitations</li>
		<li>Blog Headers</li>
		<li>Website reworkings</li>
		<li>Fashion advice</li>
		<li>Other stuff</li>
	</ul>

	<div id="testimonial-list">
		<div>
			<h4>
				Barack Obama
			</h4>
			<p>
				Alex did great work for me an Michelle
			</p>
		</div>
		<div>
			<h4>
				Jackie
			</h4>
			<p>
				Alex is just the sweetest ever and she's really good at what she does
			</p>
		</div>
		<div>
			<h4>
				Alex's Mom
			</h4>
			<p>
				Alex is a butthead
			</p>
		</div>
		<div>
			<h4>
				Mike
			</h4>
			<p>
				She does good work if you know what I mean. ;)
			</p>
		</div>
	</div>
</div>