<div>
	<h1><%= @project.project_title %></h1>

			<div class="left-column">
				<%= markdownToHtml(@project.project_markdown) %>
				
			</div>

			<div class="right-column column">
				<% @project.project_items.each do |p|  %>
				<img src="<%= p.image_url %>" />

					<% unless p.image_caption.nil? %>
						<p class="caption">  
							<%= p.image_caption  %>
						</p>

					<% end %>

				<% end %>
			</div>
</div>